<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="spark.notifier" version="1">
    <about>
        <name>Spark Notification Plugin</name>
        <version>1.0</version>
        <target-go-version>18.1.0</target-go-version>
        <description>Plugin to send build notifications to Cisco Spark</description>
        <vendor>
            <name>Nathan Glover</name>
            <url>https://github.com/t04glovern/gocd-spark-build-notifier</url>
        </vendor>
    </about>
</go-plugin>
